# Copyright (c) 2023 ZMK
# SPDX-License-Identifier: MIT

if SHIELD_SYNTH_WAVE_LEFT

	config ZMK_KEYBOARD_NAME
		default "Synth Wave"

	config ZMK_SPLIT_ROLE_CENTRAL
		default y
endif

if SHIELD_SYNTH_WAVE_LEFT || SHIELD_SYNTH_WAVE_RIGHT

	config ZMK_SPLIT
		default y

	config ZMK_DISPLAY
		select LVGL_USE_CONT
		select LVGL_FONT_MONTSERRAT_12
		select LVGL_USE_LABEL
		select LV_USE_IMG
	if ZMK_DISPLAY
		config I2C
			default y

		config SSD1306
			default y

	endif

	choice ZMK_DISPLAY_STATUS_SCREEN
		default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
	endchoice

	choice ZMK_DISPLAY_STATUS_SCREEN
		default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
	endchoice

	menuconfig CUSTOM_WIDGET_BATTERY_STATUS
		bool "custom battery status widget"

	menuconfig CUSTOM_WIDGET_OUTPUT_STATUS
		bool "custom output status widget"

	menuconfig CUSTOM_WIDGET_LAYER_STATUS
		bool "custom layer status widget"

	menuconfig CUSTOM_WIDGET_PERIPHERAL_STATUS
		bool "custom peripheral status widget"

endif